services:
  jupyter:
    build:
      context: .
    ports:
      - "0.0.0.0:8888:8888"
    volumes:
      - "./jupyter:/home/jovyan/work"
    environment:
      - JUPYTER_ENABLE_LAB=yes
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8888/api || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5

networks:
  default:
    name: my-data-network
